<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Event
          </th>
          <th>Year
          </th>
          <th>Season
          </th>
          <th>Total Paid Registrations
          </th>
          <th>% first time at any ERE
          </th>
          <th>% attended immediately preceding ERE
          </th>
          <th>% attended any previous ERE
          </th>
          <th># attended any previous ERE
          </th>
        </tr>
        <% @ere_events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.year %></td>
          <td><%= event.season %></td>
          <td><%= event.attendees.count %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
